.header {
  width: inherit;
  /* padding: 0.5625rem 0.375rem 0; */
  color: #213a21 /* a darker green than .titleAuthor*/;
  margin-top: calc(1vw + 3vh - 0.125rem);
}

.header h1 {
  margin-bottom: -1.25rem;
}

.header p:first-of-type {
  margin-top: 1.25rem;
  padding-bottom: 0.625rem;
  line-height: 1.25rem;
}

.header .titleAuthor {
  font-size: 0.9rem;
  font-weight: normal;
  padding-right: 10.5rem;
  padding-right: calc(7.5rem + 3vw);
  color: #376937;
  /* A shadow the same colour as the background.
    in case the text is overlaying the fulmar picture */
  text-shadow: 1px 1px 1px #cee3f2;
  display: inline-block;
}

.header .title {
  color: #34311a
    /* Average of the gradient colours used in the @supports block */;
  font-size: 5.625rem;
  font-weight: normal;
  font-weight: 300;
  line-height: 3.5rem;
  font-variant: none;
  text-decoration: none;
}

@supports (background-clip: text) {
  .header .title {
    background: linear-gradient(to bottom, #111007, #58522c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.header .title::after {
  content: text;
  text-shadow: 2px 2px white;
}

.header p.titleFull {
  margin-top: 0;
  margin-bottom: 1.125rem;
  color: #274141;
  font-size: 0.75rem;
  /* A shadow the same colour as the background.
    in case the text is overlaying the fulmar picture */
  text-shadow: 1px 1px 1px #cee3f2;
  /* padding-top: 0.625rem; */
  padding-bottom: 0.75rem;
}

@media print {
  /* Title should be solid grey on print. */
  .header .title {
    color: #3f3f3f;
    background: none;
    background-clip: initial;
    -webkit-text-fill-color: initial;
  }

  /* No reason to have a shadow. */
  .header .titleAuthor,
  .titleFull {
    text-shadow: none;
  }
}
