.dictionaries-heading {
    margin-top: 2.625rem;
    padding: 0.375rem 0.375rem;
    margin-bottom: 0;
    background-color: #7dd3d3;
}

.dictionaries-category {
    display: block;
    font-size: 0.875rem;
}
  
.dictionaries {
    background-color: #caedea;
    padding: 0.75rem 0.375rem;
    margin-top: 0;
}


@media print {
    /* Allow elements to be full-width. */
    .dictionaries-heading,.dictionaries {
    max-width: initial;
  }
}