.about main {
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.about section {
  margin-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.about main h2 {
  background-color: #efe1ab;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625rem 0.75rem;
}

.about main p,
.about main ul,
.about main details {
  margin: 0 auto;
  width: calc(var(--page-width) + 1rem);
  text-align: left;
  background: rgba(255, 253, 244, 0.95);
}

.about h2 + p {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.about p + p {
  padding-top: 0;
  padding-bottom: 0.75rem;
}

/* Copied from Advanced Rubric */
.about section li {
  line-height: 1.6em;
  padding: 0.5rem 1.125rem;
  margin: 0;
  display: list-item;
  list-style: disc inside;
}
