.home h1 {
  color: #3f3b1f /* One of the midtones in the .title gradient. */;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: -0.5rem;
  margin-bottom: -0.25rem;
}

p.homeRubric {
  margin-top: calc(12vw + 5vh - 4rem);
}
