.home h1 {
  color: #3f3b1f /* One of the midtones in the .title gradient. */;
  font-size: 1.5rem;
}

/* The risk of overflow comes from the aria-hidden spans */
p.homeRubric {
  margin-top: calc(12vw + 5vh - 4rem);
  overflow-x: clip;
  position: relative;
}
