/* Subsites are pages on velut that return Latin or English words. */
/* For example: Advanced, Anagram Phrases, English, Subwords, and Word. */

.subsiteHomeRubric {
  width: var(--page-width);
  margin-top: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.375rem;
  border-top: 0.1875rem solid #90cbd1;
  background-color: rgba(255, 253, 244, 0.95);
}

.subsiteResult {
  width: var(--page-width);
}

.subsiteResult,
.showingResultsFor {
  margin: 1.125rem auto 0;
  border-top: 0.1875rem solid #90cbd1;
  background-color: rgba(255, 253, 244, 0.95);
}

.subsiteResult:has(> h2:first-child) {
  margin-top: 1rem;
  border-top: none;
}

.showingResultsFor,
.wordInfo {
  background-color: rgba(255, 253, 244, 0.95);
  margin-bottom: 0;
}

.showingResultsFor {
  padding: 0.375rem;
  box-sizing: border-box;
}

.showingResultsFor,
.wordInfo {
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.wordInfo h2:not(.dictionariesHeading) {
  margin-bottom: 0.1875rem;
  padding: 0.625rem 0.75rem;
  background-color: #efe1ab;
}

.wordInfo h2:not(:first-of-type):not(.dictionariesHeading) {
  margin-top: 0.1875rem;
}

.wordInfo p:not(.dictionariesP) {
  margin-bottom: 0;
  margin-top: 0;
}

.advanced .subsiteResult {
  margin-top: 3.5rem;
}

/* This is meant for the list of anagrams on Anagram Phrases. */
/* For some reason, .anagrams doesn’t work as a selector, but ul:lang(la) does. */
.subsiteResult ul:lang(la) {
  list-style: none;
}

.subsiteResult ul:lang(la) li {
  padding-bottom: 0.5rem;
}

.wordInfo details:not([open]) summary {
  padding-bottom: 1.5rem;
}

@media print {
  /* Display a grey bullet between Anagram Phrases results instead of a line-break. */
  .subsiteResult ul:lang(la) {
    display: flex;
    flex-wrap: wrap;
  }

  .subsiteResult ul:lang(la) li:not(:first-of-type)::before {
    color: #adadad;
    content: ' • ';
    white-space: pre-wrap;
  }
}
