html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: "Alegreya", serif;
  margin: 0 0 0 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-image: linear-gradient(180deg, rgb(206,227,242) 0%, rgb(227,239,248) 100%);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  grid-template-areas: "body" "footer";
}

.home,.word,.anagrams,.subsite-home,.subwords,.subsite-home,.english,.about {
  grid-area: body;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-image:  url('./images/FulmarFlying.png'); /* Overruled in browsers with WebP support */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Modernizr injects class-name of webp into <html> if WebP is supported. */
.webp .home,.word,.about,.subwords,.anagrams,.subsite-home,.subsite-home,.english {
  background-image:  url('./images/FulmarFlying.webp');
}

.home {
  background-size: calc(40vh + 40vw);
  background-position: -20vw calc(-16vw - 2vh + 180px);
}

.word,.about,.subwords,.anagrams,.subsite-home,.subsite-home,.english {
  background-size: 75vh;
  background-position: calc(48px + 5vw - 54vh) calc(10vw - 21vh - 20px);
}

.home-rubric {
  /* A shadow the same colour as the background.
  in case the text is overlaying the fulmar picture */
  text-shadow: 1px 1px 1px rgb(206,227,242)
}

p {
  line-height: 1.6em;
  padding: 9px 18px;
  margin-top: 6px;
  margin-bottom: 0
}



@media print {
  /* Remove the CSS Grid layout. */
  .App {
    display: block;
    grid-template-columns: initial;
    grid-template-rows: initial;
    grid-template-areas: initial;
  }

  .home,.word,.anagrams,.subsite-home,.subwords,.subsite-home,.about {
    grid-area: initial;
    overflow-y: initial;
  }

  /* No reason to have a shadow. */
  .home-rubric {
    text-shadow: none;
  }
}