/* Subsites are pages on velut that return Latin words. */
/* For example: Advanced, Anagram Phrases, Subwords, and Word. */

.subsite-home:not(.advanced) p:not(.title-full) {
    width: calc(100% - 2.25rem);
    max-width: 46.125rem;
    margin-top: 1.125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.375rem;
    border-top: 0.1875rem solid #90cbd1;
    background-color: rgba(255,253,244,0.95)
}

.subsite-result {
    width: calc(100% - 3rem);
    max-width: 46.875rem;
}

.subsite-result,.showing-results-for {
    margin-top: 1.125rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-top: 0.1875rem solid #90cbd1;
    background-color: rgba(255,253,244,0.95)
}



@media print {
    /* Allow elements to be full-width. */
    .subsite-result,p {
        max-width: initial;
    }

    /* Display a grey bullet between results instead of a line-break. */
    .subsite-result br {
        display: none;
    }

    .subsite-result span:not(:first-of-type)::before {
        color: #adadad;
        content: " • "
    }
}