.footer {
    grid-area: footer;
    padding: 6px;
    /* This is the color of links, but lighter */
    background-color: hsl(208, 56%, 82%);
}

a:link {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:visited {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:hover {
    color: #23527c;
    text-decoration: underline
}  