footer {
    grid-area: footer;
    /* This is a bright turquoise */
    background: linear-gradient(to bottom, rgb(121, 192, 181), rgb(159, 243, 200))
}

ul {
    width: calc(100vw - 0.75rem);
    max-width: 47.625rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}


/* These styles also apply to all the <a> tags throughout the app. */

a:link,.go-back,a:visited {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

a:hover,.go-back:hover {
    color: #4d88bb;
    text-decoration: underline
}


/* The following styles (except the print media query) apply only within footer */

footer a,.footer-copyright,.go-back {
    transform: translateX(calc(-0.5vw + 0.1875rem));
    padding: 0.375rem calc(1.125rem + 0.1vw);
    display: flex;
    align-content: center;
}

footer a,.go-back {
    color: #0c457a;
}

footer a span {
    color: #0c457a;
}

footer a:hover,.go-back:hover {
    color: #0c457a;
    background: linear-gradient(to top, rgb(209, 248, 228), rgba(209, 248, 228, 0));
}

button {
    box-shadow: 0;
    border: 0;
    background: 0;
    font: inherit;
    padding: 0
}



@media print {
    footer {
        /* This is the same border as the sections in Subwords and AnagramPhrases have */
        border-top: 0.1875rem solid rgb(144, 203, 209);
        margin-top: 2.25rem;
    }
}

@media screen and (min-width: 47.625rem) {
    .footerContaining7 ul {
        max-width: unset;
        justify-content: center;
    }
}