.footer {
    grid-area: footer;
    padding: 6px;
    /* This is a bright turquoise */
    background: linear-gradient(to bottom, rgb(121, 192, 181), rgb(159, 243, 200))
}

a:link {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:visited {
    font-weight: bold;
    color: #337ab7;
    text-decoration: none
}

a:hover {
    color: #23527c;
    text-decoration: underline
}  