.home h2 {
    color: #3f3b1f /* One of the midtones in the .title gradient. */;
}

.home-rubric span {
    background-image: linear-gradient(180deg, rgb(206,227,242) 0%, rgb(227,239,248) 100%);
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
}

p.home-rubric {
    margin-top: calc(12vw + 5vh - 4rem);
}
