.dictionariesHeading {
  margin: 2.625rem auto 0;
  padding: 0.625rem 0.375rem;
  background-color: #7dd3d3;
  width: var(--page-width);
}

.dictionariesP {
  background-color: #caedea;
  margin-inline: auto;
  margin-top: 0;
  width: var(--page-width);
  padding: 0.75rem 0.375rem;
}
