.advancedRubricToggler {
    width: calc(66vw + 1rem);
    max-width: 46.875rem;
    margin-left: auto;
    margin-right: auto;
}

.advancedRubricToggler summary {
    background-color: #9cdad3;
    margin-top: 0.3333rem;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.advancedRubricToggler summary:hover {
    background-color: #b5e3de;
}
