.advancedSearch {
  margin-top: 0;
  margin-bottom: 1rem;
}

.advancedSearch :first-child {
  grid-area: searchbar;
}

.advancedSearch div input[type='text'] {
  width: calc(100% - 1rem);
}

.advancedSearch > div > div {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 0.1875rem solid #c2b170;
}

.advancedSearch > div > div:not(:last-of-type) {
  margin-bottom: 1rem;
}

.advancedSearch div p {
  background-color: rgba(255, 253, 244, 0.95);
  margin: 0;
}

/* Labels for text inputs */
.advancedSearch label:not(input + label) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.125rem 0 0.5rem;
}

.advancedSearch label small {
  line-height: 1.3333em;
  margin: 0.3333em 0 0;
}

/* Labels for checkbox & radio-buttons */
.advancedSearch input + label {
  margin-left: 0.25rem;
}
