.advancedSearch {
  margin-top: 0;
  margin-bottom: 1rem;
}

.advancedSearch :first-child {
  grid-area: searchbar;
}

.advancedSearch div input[type='text'] {
  width: calc(100% - 1rem);
}

.advancedSearch fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 0.1875rem solid #c2b170;
}

.advancedSearch fieldset:not(:first-of-type) {
  margin-top: 1rem;
}

.advancedSearch div:not(:last-of-type) {
  padding-bottom: 1rem;
}

.advancedSearch div p {
  background-color: rgba(255, 253, 244, 0.95);
  margin: 0;
}

.advancedSearch input + label {
  margin-left: 0.25rem;
}
