h1 {
    width: inherit;
    padding: 9px 6px 6px;
    margin: 12px 0 -6px;
    color: rgb(33, 58, 33) /* a darker, brighter green */
}
  
.title-author {
    font-size: 15px;
    font-weight: normal;
    padding-right: 154px;
    color: rgb(55, 105, 55);
    /* A shadow the same colour as the background.
    in case the text is overlaying the fulmar picture */
    text-shadow: 1px 1px 1px rgb(206,227,242)
}
  
.title {
    color: rgb(17, 16, 7);
    background: linear-gradient(to bottom, rgb(17, 16, 7), rgb(88, 82, 44));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: normal;
    line-height: 42px
}

.title::after {
    content: text;
    text-shadow: 2px 2px white
}

.title-full {
    margin-top: 0px;
    margin-bottom: 18px;
    color: rgb(39, 65, 65);
    font-size: 12px;
    /* A shadow the same colour as the background.
    in case the text is overlaying the fulmar picture */
    text-shadow: 1px 1px 1px rgb(206,227,242)
}