h1 {
    width: inherit;
    padding: 9px 6px 6px;
    margin: 3px 0 -6px;
    color: rgb(33, 58, 33) /* a darker, brighter green */
}
  
.title-author {
    font-size: 14px;
    font-weight: normal;
    padding-right: 144px;
    color: rgb(55, 105, 55)
}
  
.title {
    color: black;
    background: linear-gradient(to bottom, black, rgb(64, 60, 36));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: normal;
    line-height: 30px
}

.title-full {
    margin-top: 0px;
    margin-bottom: 18px;
    color: rgb(39, 65, 65);
    font-size: 12px
}