.formsTable {
  --forms-offset-left: 1.5rem;
  --forms-offset-left: clamp(1rem, 5vw, 1.5rem);
  --forms-table-margin-inline: 0rem;
  --forms-dt-font-size: 1em;
}

.formsTable:not(p + .formsTable) {
  margin-top: 1rem;
}

.formsTable.fullWidth {
  --forms-offset-left: calc(clamp(1rem, 5vw, 1.5rem) / 2);
  --forms-table-margin-inline: calc(50vw - 2rem - var(--page-width) / 2);
  --forms-dt-font-size: 0.75em;
}

.formsTable details {
  text-align: left;
  tab-size: 2;
  margin-inline: 1rem;
  min-width: calc(100% - 2rem);
}

.formsTable summary {
  width: max-content;
  margin-right: auto;
  margin-bottom: 0.5em;
  padding: 0;
}

.formsTable dl {
  margin: 0;
  position: relative;
}

.formsTable dl:not(dl dl) {
  margin-right: 0.25em;
}

.formsTable dl:not(dl dl dl) {
  display: flex;
  column-gap: 0.3333em;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Dashes down the left side of inner <dl>s */
.formsTable dl dl::before {
  content: '';
  position: absolute;
  transform: translateX(
    calc(0.625 * var(--forms-dt-font-size) - var(--forms-offset-left))
  );
  width: 1px;
  height: calc(100% - 0.4625em);
  background-image: repeating-linear-gradient(
    0deg,
    #34311a,
    #34311a 0.25em,
    transparent,
    transparent 0.6666em
  );
  opacity: 0.3333;
}

/* Dashes across the top side of inner <dl>s */
.formsTable dl dl::after {
  content: '';
  position: absolute;
  top: -0.625em;
  width: calc(100% - 0.4625em);
  height: 1px;
  background-image: repeating-linear-gradient(
    270deg,
    #34311a,
    #34311a 0.25em,
    transparent,
    transparent 0.6666em
  );
  opacity: 0.3333;
}

/* Hovering over a <dl> makes its dashes (and its ancestor <dl>s’ dashes) more prominent. */
/* In fact, this happens when hovering over any part of the <div> that wraps the <dl>. */
.formsTable dl div:hover > dd > dl::before,
.formsTable dl div:hover > dd > dl::after {
  opacity: 1;
}

.formsTable dl:not(dl dl dl) > div {
  flex-grow: 1;
}

.formsTable dt,
.formsTable dd {
  padding: 0;
  line-height: 1.3333em;
}

.formsTable dt {
  display: inline-block;
  padding: 0.1em 0.45em;
  font-style: italic;
  font-weight: bold;
  font-size: var(--forms-dt-font-size, 1em);
  color: #34311a;
  background-color: #fffdf4;
  border: 1px solid transparent;
  border-radius: 0.25em 0 0 0;
  border-bottom: none;
  border-right: none;
  position: relative /* needed for z-index */;
  z-index: 1 /* must be in front of dashes */;
}

.formsTable.fullWidth dt {
  color: #34311ac0;
}

.formsTable dl div:hover > dt {
  background-image: linear-gradient(to bottom right, #efe1ab, transparent);
  border-color: #34311a;
  color: #34311a;
}

.formsTable dd {
  margin-left: var(--forms-offset-left);
}

.formsTable dd:not(:has(> dl)) {
  padding-right: 0.0625em;
}

/* The div here is expected to be the Tabs component.
I would use .tabs in the selector but CSS Modules makes it a different class
and it’s not worth merging this CSS file with the Tabs one. */
.formsTable > details > div {
  padding: 0 calc(var(--forms-offset-left) * 1 / 6);
}

/* This is specifically for lists of generated forms that are simple arrays,
not displayed in Tabs nor in description lists. Eg, interjections, potentially. */
.formsTable > details > :not(summary):not(div):not(dl) {
  padding: 0 calc(var(--forms-offset-left) * 5 / 12);
}
