/* This CSS is adapted from https://www.w3.org/WAI/ARIA/apg/patterns/tabs/examples/tabs-automatic/ */

.tabs {
  margin-bottom: 1rem;
}

.tabs [role='tablist'] {
  margin-top: 0.25rem;
  min-width: 100%;
}

.tabs [role='tab'] {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0.25rem 0.25rem -2px 0;
  padding: 0.5rem 0.625rem;
  border: 1px solid #58522c;
  border-radius: 0.3333rem 0.3333rem 0 0;
  background: #fcf0be;
  background-image: radial-gradient(transparent 50%, #efe1ab80 100%);
  overflow: hidden;
  text-align: left;
}

.tabs [role='tab'][aria-selected='true'] {
  margin-top: 0;
  border-top-width: 0.1875rem;
  border-bottom-color: #fffdf4;
  background: #fffdf4;
}

.tabs [role='tabpanel'] {
  margin-top: 1px;
  padding: 0.5rem;
  border: 1px solid #58522c;
  border-radius: 0 0.3333rem 0.3333rem;
  background: #fffdf4;
  width: calc(100% - 1rem);
}

.tabPanelHidden[role='tabpanel'] {
  display: none;
}
