/* This CSS is adapted from https://www.w3.org/WAI/ARIA/apg/patterns/tabs/examples/tabs-automatic/ */

.tabs [role='tablist'] {
  margin-top: 0.25rem;
  min-width: 100%;
}

.tabs [role='tab'] {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0.25rem 0.25rem -2px 0;
  padding: 0.5rem 0.625rem;
  border: 1px solid #58522c;
  border-radius: 0.3333rem 0.3333rem 0 0;
  background: #f0f4f5;
  background-image: radial-gradient(transparent 50%, #b7dde180 100%);
  overflow: hidden;
  text-align: left;
}

.tabs [role='tab'][aria-selected='true'] {
  margin-top: 0;
  border-top-width: 0.1875rem;
  border-bottom-color: #fffdf4;
  background: #fffdf4;
}

.tabs [role='tab']:hover {
  background: transparent;
  background-image: none;
}

.tabs [role='tabpanel'] {
  margin-top: 1px;
  padding: 0.5rem;
  border: 1px solid #58522c;
  border-radius: 0 0.3333rem 0.3333rem;
  background: #fffdf4;
  overflow-x: auto;
}

.tabPanelHidden[role='tabpanel'] {
  display: none;
}

/* If forms on a tab are not being shown in description lists,
they should align with the text in the first tab button.
Tab buttons have inline padding of 0.625rem and tab-panels have
0.5rem, therefore an extra inline padding of 0.125rem is needed.
I’m assuming every form is inside an element such as <a> or <span>. */
.tabs [role='tabpanel'] > :not(dl) {
  padding: 0 0.125rem;
}
