.App {
  text-align: center;
  font-family: "Alegreya", serif;
  margin: 0 0 0 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  /* background-color: rgb(254, 252, 250) */
  background: rgb(238, 243, 238);
  background: linear-gradient(180deg, rgba(196,226,196,0.05) 0%, rgba(183,211,235,0.05) 100%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  grid-template-areas: "body" "footer";
}

p {
  padding-left: 6px;
  padding-right: 6px;
  margin: 9px 0
}

.word,.home,.anagrams,.anagrams-home,.countdown,.countdown-home {
  grid-area: body;
  overflow-y: auto
}

h1 {
  width: inherit;
  padding: 3px 6px;
  margin: 0 0 6px;
  background-color: rgb(196, 226, 196); /* pale green */
  color: rgb(58, 114, 58) /* a darker, brighter green */
}

.title {
  color: black
}

h2 {
  margin-top: 12px;
  margin-bottom: 3px
}

.divider {
  height: 2px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: 2px solid rgb(196, 226, 196)
}

.dictionaries {
  background-color: rgb(215, 247, 247);
  padding: 12px 6px;
  margin-top: 12px;
  margin-bottom: 0
}