body {
  text-align: center;
  font-family: "Alegreya", serif;
  margin-bottom: 72px
}

.home {
  padding: 6px
}

.word {
  padding: 6px
}

h1 {
  background-color: rgb(196, 226, 196); /* pale green */
  margin: -6px -6px 3px -6px;
  padding: 6px 0;
  color: rgb(58, 114, 58) /* a darker, brighter green */
}

.title {
  color: black
}

.divider {
  height: 2px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-bottom: 2px solid rgb(196, 226, 196)
}