.search {
    width: calc(60vw + 16px);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 48px
}

input {
    text-align: center;
    margin: 0;
    width: 60vw;
    max-width: 704px;
    border: 2px solid rgb(133, 167, 133); /* a pale grey-green */
    height: 20px;
    font-size: 16px;
    font-family: "Monaco", "Consolas", monospace;
    padding: 6px 6px;
}

.search-link {
    float: right;
    padding: 6px 9px;
    height: 20px;
    background-color: rgb(122, 239, 179)
}

.search-link:hover {
    background-color: rgb(184, 248, 215)
}