.search {
    width: calc(60vw + 16px);
    max-width: 750px;
    min-height: 68px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

input {
    text-align: center;
    margin: 0;
    width: 60vw;
    max-width: 734px;
    border: 2px solid rgb(133, 167, 133); /* a pale grey-green */
    height: 20px;
    font-size: 16px;
    font-family: "Monaco", "Consolas", monospace;
    padding: 6px 6px;
}

.search-link {
    float: right;
    font: inherit;
    box-shadow: 0;
    border: 0;
    padding: 6px 9px;
    height: 2em;
    background-color: rgb(122, 239, 179);
    cursor: pointer
}

.search-link:hover {
    background-color: rgb(184, 248, 215)
}

.dropdown {
    font-size: 15px;
    text-align: left;
    width: 50%;
    margin: 9px 0 30px;
}

.dropdown-select {
    background-color: rgb(156, 218, 211);
    margin-bottom: 0;
    padding: 3px 6px;
}

.dropdown-content-none,.dropdown-content-open,.dropdown-content-close {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*
   Chrome, Firefox, Opera support clip-path.
   Safari supports -webkit-clip-path.
   Edge supports neither, so opacity values are needed.
*/

/*
   height: 0 avoids leaving a gap when dropdown is closed.
*/

/*
   transform moves the dropdown offscreen.
   If it remained where it was, Edge would still let users
   click on it even when it was closed!
*/

/*
   If CSS transition/animation would allow changing the height to
   or from "initial" or "auto", we could use a simple transition.
   But we need an animation on the height to animate smoothly from 
   height: 0 to height: 234px, then change to initial at the end.
*/

/* This is how dropdown-content starts out */
.dropdown-content-none {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Changed with a transition */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Changed with a transition */
    height: 0px; /* Changed with an animation to 234px then initial  */
    opacity: 0; /* Changed with a transition */
    transform: translateX(-50vw); /* Changed with a delayed transition */
}

.dropdown-content-close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateX(-50vw);
    transition: clip-path 1.5s ease, -webkit-clip-path 1.5s ease, opacity 1.5s ease, transform 0s 1.5s;
    animation-name: dropdown-animation-close;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards
}

.dropdown-content-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 100%;
    transform: translateX(0);
    transition: clip-path 1.5s ease, -webkit-clip-path 1.5s ease, opacity 1.5s ease;
    animation-name: dropdown-animation-open;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards
}

@keyframes dropdown-animation-close {
    0% {
        height: 234px /* This is the correct offset height of dropdown-content if screenwidth > 1019px */
    }
    100% {
        height: 0px
    }
}

@keyframes dropdown-animation-open {
    0% {
        height: 0px
    }
    99.5% {
        height: 234px /* This is the correct offset height of dropdown-content if screenwidth > 1019px */
    }
    100% {
        height: initial
    }
}

.dropdown-item {
    color: #1c4e50;
    text-decoration: none;
    background: linear-gradient(to bottom right, rgb(199, 228, 230), rgb(147, 202, 204));
    width: inherit;
    margin: 0;
    padding: 3px 6px
}

.dropdown-item:hover {
    color: black;
    background: rgb(211, 236, 238)
}