.search {
    width: calc(60vw + 1rem);
    max-width: 46.875rem;
    min-height: 4.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

input {
    text-align: center;
    margin: 0;
    width: 60vw;
    max-width: 45.875rem;
    border: 2px solid #85a785; /* a pale grey-green */
    height: 1.25rem;
    font-size: 1rem;
    font-family: "Monaco", "Consolas", monospace;
    padding: 0.375rem 0.375rem;
}

.search :focus {
    outline-color: #58522c; /* lighter colour of Title gradient */
}

.search-link {
    float: right;
    font: inherit;
    box-shadow: 0;
    border: 0;
    padding: 0.375rem 0.5625rem;
    height: 2em;
    background-color: #7aefb3;
    cursor: pointer;
}

.search-link:hover {
    background-color: #b8f8d7;
}

#dropdown {
    font-size: 0.9rem;
    text-align: left;
    width: 50%;
    margin: 0.5625rem 0 1.875rem;
}

#dropdown-select {
    background-color: #9cdad3;
    margin-top: 0.3333rem;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    padding: 0;
    text-align: left;
}

#dropdown-select :first-child {
    padding: 0.1875rem 0.5rem;
    margin: 0;
}

/* Give some space for the arrow. */
#dropdown-select :first-child::after {
    content: '    ';
}

#dropdown-arrow {
    height: 0;
    margin: 0;
    padding: 0;
    transform: translateY(-1em);
}

#dropdown-arrow::after {
    content: ' ';
    background-image: url(https://www.duncanritchie.co.uk/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.7rem;
    position: absolute;
    display: inline-block;
    right: 0.5rem;
    top: -0.7rem;
    width: 0.8rem;
}

.dropdown-content-none,.dropdown-content-open,.dropdown-content-close {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*
   Chrome, Firefox, Opera support clip-path.
   Safari supports -webkit-clip-path.
   Edge supports (supported?) neither, so opacity values are needed.
*/

/*
   height: 0 avoids leaving a gap when dropdown is closed.
*/

/*
   transform moves the dropdown offscreen.
   If it remained where it was, Edge would still let users
   click on it even when it was closed!
*/

/*
   If CSS transition/animation would allow changing the height to
   or from "initial" or "auto", we could use a simple transition.
   But we need an animation on the height to animate smoothly from 
   height: 0 to height: 14.625rem, then change to initial at the end.
*/

/* This is how dropdown-content starts out */
.dropdown-content-none {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Changed with a transition */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Changed with a transition */
    height: 0; /* Changed with an animation to 14.5rem then initial  */
    opacity: 0; /* Changed with a transition */
    transform: translateX(-50vw); /* Changed with a delayed transition */
}

.dropdown-content-close {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
    transform: translateX(-50vw);
    transition: clip-path 1.5s ease, -webkit-clip-path 1.5s ease, opacity 1.5s ease, transform 0s 1.5s;
    animation-name: dropdown-animation-close;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards
}

.dropdown-content-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
    transform: translateX(0);
    transition: clip-path 1.5s ease, -webkit-clip-path 1.5s ease, opacity 1.5s ease;
    animation-name: dropdown-animation-open;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards
}

@keyframes dropdown-animation-close {
    0% {
        height: 14.5rem /* This is roughly the correct offset height of dropdown-content if screenwidth >~ 63.4rem */
    }
    100% {
        height: 0
    }
}

@keyframes dropdown-animation-open {
    0% {
        height: 0
    }
    99.5% {
        height: 14.5rem /* This is roughly the correct offset height of dropdown-content if screenwidth >~ 63.4rem */
    }
    100% {
        height: initial
    }
}

.dropdown-item {
    color: #1c4e50;
    text-decoration: none;
    background: linear-gradient(to bottom right, #c7e4e6, #93cacc);
    width: inherit;
    margin: 0;
    padding: 2px;
}

.dropdown-item:hover {
    color: black;
    background: #d3ecee;
}

.dropdown-item button {
    width: 100%;
    text-align: inherit;
    padding: 0.1875rem 0.375rem;
    cursor: pointer;
}